{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="/js/calc.js"></script>
<script type="text/javascript">
var prices = new Array();
{% for row in prices %}
	prices.push({
	{% for key, value in row.items %}
		{{ key }}: "{{ value }}",
	{% endfor %}
	});
{% endfor %}
var payment_methods = new Array();
{% for row in payment_methods %}
	payment_methods.push({
	{% for key, value in row.items %}
		 {{ key }}: "{{ value }}",
	{% endfor %}
	});
{% endfor %}
</script>
{% endblock %}
